* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  height: 30px;
  width: 33px;
}

.default-logo {
  display: inline;
  height: 30px;
  width: 33px;
}

.logo {
  display: none;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login {
  display: none;
}

.demo-button {
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #000;
  padding: 6px 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.arrow-header {
  display: none;
}

.header-demo-button {
  align-items: center;
}

.hero {
  padding: 40px 24px 0 24px;
}

.divider {
  display: none;
}

.hero-title {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
}

.hero-subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 160%;
  margin-bottom: 48px;
}

.hero-buttons {
  display: none;
}

.hero-demo-button,
.outline-button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex: 0 0 auto;
  padding: 10px 24px;
  border-radius: 999px;
  font-size: 16px;
  text-decoration: none;
}

.outline-button {
  border: 1px solid #000;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.outline-button:hover {
  background: #f5f5f5;
}

.outline-button.header-button {
  font-size: 14px;
  padding: 6px 20px;
  line-height: 160%;
  font-weight: 400;
}

.hero-image {
  display: none;
}

.hero-demo-button {
  background-color: #000000;
  display: inline-flex;
  color: #fff;
  border-radius: 999px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
}

.hero-demo-button.demo {
  padding: 6px 20px;
  line-height: 160%;
  font-weight: 400;
}

.outline-button.demo {
  padding: 6px 20px;
  line-height: 160%;
  font-weight: 400;
}

.text-content {
  background-color: #f1f1f1;
  padding: 40px 24px;
  text-align: center;
}

.text-content-title {
  background-color: #f1f1f1;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.text-content-subtitle {
  background-color: #f1f1f1;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}

.text-content-cta-title-alerts {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-content-title-alerts {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #212121;
}

.text-content-subtitle-alerts {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.text-container-alert {
  padding: 40px 24px 0 24px;
  background-color: #fff;
  text-align: left;
}

.mobile-alerts {
  width: 252px;
}

.mobile-alerts-tablet {
  display: none;
}

.alert-cta-button {
  display: flex;
  justify-content: start;
  background-color: #ffffff;
}

.alerts-img-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.cards-grid {
  display: grid;
  background-color: #f1f1f1;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 2rem;
}

.alert-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 100%;
}

.card-text-container {
  padding: 24px 16px 16px 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #212121;
  line-height: 160%;
}

.card-image {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.card-image-container {
  border-radius: 16px;
  overflow: hidden;
}

.card-image-tablet {
  display: none;
}

.card-image-desktop {
  display: none;
}

.card-text {
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 160%;
  font-weight: 400;
  color: #212121;
}

.card-link {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  align-content: end;
  align-items: center;
  line-height: 160%;
  font-weight: 400;
}

.hero-demo-button.alert-button {
  font-size: 18px;
  line-height: 160%;
}

.text-content-cta {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 40px 24px;
}

.text-content-cta-title {
  background-color: #000000;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: left;
}

.text-content-cta-subtitle {
  background-color: #000000;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-align: left;
  margin-bottom: 24px;
  line-height: 160%;
  font-weight: 400;
}

.text-content-cta-button {
  background-color: #000000;
  display: flex;
  justify-content: start;
}

.text-content-cta-button {
  display: flex;
  justify-content: start;
}

.button-cta {
  border-color: #000000;
  display: flex;
  font-size: 16px;
  gap: 0.5rem;
  padding: 6px 20px;
  font-weight: 400;
  align-items: center;
  line-height: 160%;
}

.arrow {
  height: 16px;
  width: 16px;
}

.carousel-container {
  display: flex;
  gap: 32px;
  padding: 40px 24px;
  flex-direction: column-reverse;
}

.carousel-left {
  text-align: center;
  flex: 1;
  position: relative;
}

.carousel-left img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.nav-arrows {
  position: absolute;
  background-color: transparent;
  left: -20px;
  right: -20px;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.nav-arrows button {
  background: none;
  border: none;
  font-size: 60px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}

.carousel-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
}

.carousel-role {
  font-size: 1rem;
  color: #666;
  margin-top: 4px;
}

.carousel-title {
  font-size: 32px;
  margin-bottom: 32px;
  color: #212121;
}

.carousel-right {
  flex: 1;
}

.carousel-text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.carousel-button {
  display: flex;
  justify-content: start;
  margin-top: 24px;
}

.hero-demo-button.carousel {
  line-height: 160%;
  font-size: 18px;
}

.blurred-section-container {
  position: relative;
  width: 100%;
  padding-top: -12rem;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
}

.blurred-section {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    white 0%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0) 60%
  );
  z-index: 1;
}

.foreground-content {
  display: none;
}

.hero-buttons-foreground {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.foreground-content {
  display: block;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.btn {
  padding: 1em 2em;
  margin: 0 0.5em;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.footer * {
  background: #f1f1f1;
}

.footer-content {
  padding: 40px 24px;
}

.footer-logo-1 {
  width: 39px;
  height: 35px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.footer-button {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.outline-button.button-cta.footer {
  font-size: 14px;
  line-height: 160%;
  padding: 10px 24px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-col-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-col-logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.contact-text {
  font-size: 14px;
  line-height: 160%;
}
.email,
.phone {
  font-size: 14px;
  line-height: 160%;
}

.phone {
  margin-bottom: 32px;
}

.footer-logo {
  width: 120px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 24px;
}

.social-icon {
  width: 35px;
  height: 35px;
}

.footer-col-legal {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.legal-links {
  display: flex;
  flex-direction: column;
}

.legal-link {
  color: #000000;
  line-height: 160%;
  font-size: 14px;
}

.copyright,
.rights {
  font-size: 14px;
  line-height: 160%;
}

/* 768px */

@media screen and (min-width: 768px) {
  .header {
    padding: 15px 34px;
  }

  .default-logo {
    display: none;
  }

  .logo {
    display: inline;
    height: 33px;
    width: 114px;
  }

  .arrow.arrow-header {
    display: inline;
    height: 16px;
    width: 16px;
  }

  .login {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 160%;
  }
  .divider {
    display: block;
    height: 2rem;
    border-left: 1px solid #000;
  }
  .header-button {
    gap: 8px;
  }
  .demo-button-arrow {
    display: block;
    height: 16px;
    width: 16px;
  }

  .hero {
    padding: 100px 60px 0 60px;
  }

  .hero-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 32px;
  }

  .hero-buttons-foreground {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
  }

  .text-content {
    padding: 80px 60px;
  }

  .text-content-title {
    font-size: 40px;
  }

  .text-content-subtitle {
    margin-bottom: 40px;
  }

  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .card-image,
  .card-image-desktop {
    display: none;
  }

  .card-image-tablet {
    display: block;
    width: 100%;
    border-radius: 16px;
  }

  .card-text {
    font-size: 14px;
  }

  .arrow {
    height: 10px;
    width: 10px;
  }

  .text-container-alert {
    display: flex;
    gap: 60px;
    flex-direction: row-reverse;
    padding: 80px 60px 0 60px;
  }

  .mobile-alerts {
    display: none;
  }

  .mobile-alerts-tablet {
    display: block;
    width: 252px;
  }

  .alerts-img-container {
    margin-top: 0px;
  }

  .text-content-title-alerts {
    font-size: 40px;
  }

  .text-content-cta {
    padding: 80px;
  }

  .text-content-cta-title {
    font-size: 40px;
  }

  .carousel-container {
    flex-direction: row;
    padding: 80px 60px;
    gap: 60px;
  }

  .carousel-left {
    margin-bottom: 64px;
    align-self: flex-end;
  }

  .carousel-role {
    margin-top: 0px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto auto;
    justify-items: baseline;
    gap: 80px;
    padding: 80px;
  }

  .footer-logo-2 {
    display: none;
  }

  .logo-col {
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-start;
  }

  .footer-col-logo {
    grid-column: 1;
    grid-row: 1;
  }

  .footer-col-info {
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-start;
  }

  .footer-button {
    margin-bottom: 0px;
  }

  .contact-col {
    grid-column: 2;
    grid-row: 1;
    align-items: baseline;
    gap: 48px;
  }

  .info-col {
    grid-column: 1;
    grid-row: 2;
    align-items: flex-start;
  }

  .legal-col {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .social-icons {
    grid-column: 1;
    grid-row: 3;
  }

  .legal-links {
    grid-column: 2;
    grid-row: 3;
  }
}

/* 1024px */

@media screen and (min-width: 1024px) {
  .default-logo {
    display: none;
  }

  .logo {
    display: inline;
    height: 33px;
    width: 114px;
  }

  .arrow.arrow-header {
    display: inline;
    height: 16px;
    width: 16px;
  }
  .hero {
    padding: 100px 112px 0 112px;
  }
  .hero-title {
    font-size: 48px;
    text-align: center;
  }

  .text-content-title {
    font-size: 48px;
  }

  .text-content-subtitle {
    margin-bottom: 68px;
  }

  .text-content-title-alerts {
    font-size: 48px;
  }

  .alerts-img-container {
    margin: 0 64px 0 64px;
  }

  .text-content-cta-title {
    font-size: 48px;
  }

  .carousel-left {
    width: 314px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
  }

  .logo-col {
    grid-column: 1;
    grid-row: 1;
  }

  .contact-col {
    grid-column: 2;
    grid-row: 1;
    align-items: flex-start;
    text-align: left;
  }

  .info-col {
    grid-column: 3;
    grid-row: 1;
  }

  .legal-col {
    grid-column: 4;
    grid-row: 1;
    align-items: flex-start;
    text-align: left;
  }

  .social-icons {
    grid-column: auto;
    grid-row: auto;
  }

  .legal-links {
    grid-column: auto;
    grid-row: auto;
    align-items: flex-start;
  }

  .contact-btn {
    text-align: left;
  }
}

/* 1280px */

@media screen and (min-width: 1280px) {
  .header {
    padding: 23px 34px;
  }
  .default-logo {
    display: none;
  }

  .logo {
    display: inline;
    height: 33px;
    width: 114px;
  }

  .arrow.arrow-header {
    display: inline;
    height: 16px;
    width: 16px;
  }

  .hero {
    padding: 116px 210px 0 210px;
  }

  .hero-title {
    width: 860px;
    margin: 0 auto;
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
  }

  .hero-subtitle {
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
  }

  .hero-buttons-foreground {
    gap: 32px;
  }

  .hero-demo-button.demo,
  .outline-button.demo {
    font-size: 16px;
  }

  .text-content {
    padding: 80px;
  }

  .text-content-title {
    width: 880px;
    margin: 0 auto;
    font-size: 48px;
    margin-bottom: 32px;
  }

  .text-content-subtitle {
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 68px;
  }

  .cards-grid {
    width: 880px;
    margin: 0 auto;
  }
  .text-container-alert {
    gap: 60px;
    padding: 80px 80px 0 80px;
    justify-content: flex-end;
  }

  .text-content-title-alerts {
    width: 425px;
    font-size: 64px;
    margin-bottom: 32px;
  }

  .text-content-subtitle-alerts {
    width: 680px;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .alerts-img-container {
    margin: 0 64px 0 64px;
  }

  .mobile-alerts-tablet {
    display: block;
    width: 252px;
  }

  .hero-demo-button.alert-button {
    font-size: 20px;
  }

  .text-content-cta {
    padding: 80px;
  }

  .text-content-cta-title {
    width: 1120px;
    font-size: 48px;
  }

  .text-content-cta-subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .cta-button-arrow {
    height: 16px;
    width: 16px;
  }

  .outline-button.button-cta {
    font-size: 16px;
  }

  .carousel-container {
    padding: 80px;
    gap: 60px;
  }

  .carousel-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .carousel-button {
    margin-top: 24px;
  }

  .carousel-left {
    flex-basis: 0;
    width: 316px;
    flex: initial;
  }

  .carousel-left img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }

  .carousel-text {
    width: 746px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 80px 100px;
  }

  .logo-col {
    grid-column: 1;
    grid-row: 1;
  }

  .contact-col {
    grid-column: 2;
    grid-row: 1;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
  }

  .info-col {
    grid-column: 3;
    grid-row: 1;
    justify-content: space-between;
  }

  .phone {
    margin-bottom: 0px;
  }

  .legal-col {
    grid-column: 4;
    grid-row: 1;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
  }

  .social-icons {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 0;
  }

  .legal-links {
    grid-column: auto;
    grid-row: auto;
    align-items: flex-start;
  }

  .contact-btn {
    text-align: left;
  }
}
