.container-terms-policy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 16px;
}

.title-terms-policy {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .title-terms-policy {
    font-size: 48px;
  }

  .container-terms-policy {
    padding: 80px 60px;
  }
}
.terms-policy-container {
  padding: 1rem;
}

.main-section-terms-policy {
  text-align: justify;
}

.card-text {
  margin-bottom: 1rem;
}

.card-list {
  list-style: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  color: #555;
}

.card-list li {
  margin-bottom: 1rem;
  color: #555;
}
